<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaojiafeng.springboot.dao.CityDao">
    <resultMap id="BaseResultMap" type="City">
        <result column="id" property="id"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>

    <parameterMap id="City" type="com.yaojiafeng.springboot.domain.City"/>

    <sql id="Base_Column_List">
        id, province_id, city_name, description
    </sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from city
        where city_name = #{cityName}
    </select>

    <insert id="saveCity" parameterType="City">
        insert into city
        ( <include refid="Base_Column_List"/> )
        values (#{id},#{provinceId},#{cityName},#{description})
    </insert>

    <insert id="creates" parameterType="list">
        INSERT INTO city
        (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="i" index="index" separator=",">
            (#{i.id},#{i.provinceId},#{i.cityName},#{i.description})
        </foreach>
    </insert>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        city
        WHERE 1=1
        <include refid="dynamic_condition"/>
    </select>

    <sql id="dynamic_condition">
        <if test="id != null ">AND id = #{id}</if>
        <if test="provinceId != null ">AND province_id = #{provinceId}</if>
        <if test="cityName != null ">AND city_name = #{cityName}</if>
        <if test="description != null ">AND description = #{description}</if>
    </sql>

</mapper>